@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #09090b; /* zinc-950 */
}

#root {
  width: 100%;
  height: 100%;
}
